@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

main {
    width: 100%;
}

h1 {
    padding: 12px;
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: flex-start;
    text-indent: 2rem;
}

p.primeiro {
    text-indent: 0;
    padding: 12px;
}