@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor-primaria: #E08A00;
    --cor-secundaria: #E06600;
    --cor-terciaria: #E0A600;
}

body {
    display: grid;
    grid-template: 60px 200px auto 0.5fr 0.5fr 330px 0.5fr 0.5fr 375px 100px 60px/ 1fr 70px 283.375px 406.600px 1fr;
    padding: 20px 0 20px 0;
    background-color: rgba(255, 166, 0, 0.132);
}

header {
    grid-area: 1 / 3 / 2 / -1;
    background-color: var(--cor-terciaria);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
menu {
    display: flex;
    align-items: center;
}

header a {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    margin: 0 15px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.761);
}

i.material-symbols-outlined {
    font-size: 0.9em;
    font-weight: bold;
}

div.title1 {
    grid-area: 2 / 2 / 3 / 3;
    align-self: center;
}

h1 span {
    color: rgba(0, 0, 0, 0.724);
    font-family: serif;
    font-size: 2em;
}

h1 span::first-letter {
    font-size: 3em;
}

div.imgs {
    grid-area: 3 / 3 / 4 / 4;
} 

div.imgs section {
    width: 90%;
    height: 500px;
    overflow-y: auto;
}

div.imgs section::-webkit-scrollbar {
    background-color: transparent;
}

div.imgs img {
    width: 100%;
    background-color: black;
}

main.primario {
    grid-area: 3 / 4 / 4 / 5;
}

h2 {
    display: flex;
    align-items: center;
}

main.primario h2 {
    font-size: 1em;
    color: var(--cor-secundaria);
    margin-top: 55px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    margin: 15px 0;
    line-height: 1.2em;
    text-align: justify;
}

span.m {
    background-color: var(--cor-terciaria);
    font-size: 0.5em;
    padding: 5px 20px;
    margin-right: 10px;
    margin-top: 1px;
}

div.title2 {
    grid-area: 5 / 2 / 6 / -1;
    font-size: 2em;
}

div.title2 h1 {
    color: rgba(0, 0, 0, 0.724);
    font-family: serif;
}

div.faq {
    grid-area: 6 / 3 / 7 / -2;
}

div.faq h2 {
    font-size: 1em;
    color: var(--cor-secundaria);
}

span.q {
    background-color: var(--cor-terciaria);
    font-size: 0.5em;
    padding: 5px 15px;
    margin-right: 10px;
    margin-top: 1px;
}

div.title3 {
    grid-area: 8 / 2 / 9 / -1;
    font-size: 2.3em;
}

div.title3 h1 {
    color: rgba(0, 0, 0, 0.724);
    font-family: serif;
    text-transform: uppercase;
}

div.imgc {
    grid-area: 9 / 3 / 10 / 4;
}

div.contato {
    grid-area: 9 / 4 / 10 / -2;
    margin-left: 10px;
}

div.contato p {
    display: flex;
    align-items: center;
}

div.imgc img {
    width: 100%;
    min-width: 150px;
}

footer {
    grid-area: 11 / 3 / 12 / -1;
    background-color: var(--cor-terciaria);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer p {
    font-size: 1em;
    font-weight: bold;
    margin: 0 15px;
    color: black;
}
@media screen and (max-width: 780px){
    
    body {
        padding: 0;
        grid-template: 60px 200px auto 1fr 1fr auto 0.5fr 0.5fr auto 100px 60px / auto auto;
    }

    header {
        grid-area: 1 / 1 / 2 / -1;
    }

    div.title1 {
        grid-area: 2 / 1 / 3 / -1;
    }

    div.imgs {
        grid-area: 3 / 1 / 4 / 2; 
    }

    div.imgs section {
        width: 80%;
    }

    main.primario {
        grid-area: 3 / 2 / 4 / -1;
        padding-right: 10px;
    }

    div.title2 {
        grid-area: 5 / 1 / 6 / -1
    }

    div.faq {
        grid-area:  6 / 1 / 7 / -1;
        padding: 0 10px 0 10px;
    }

    div.title3 {
        grid-area: 8 / 1 / 9 / -1
    }
    
    div.imgc {
        grid-area: 9 / 1 / 10 / 2;
    }

    div.imgs section {
        padding-left: 10px;
    }

    div.imgc img {
        width: 100%;
        padding: 10px;
        max-width: 500px;
    }

    div.contato {
        grid-area: 9 / 2 / 10 / -2;
        margin-left: 10px;
    }
    
    div.contato p {
        padding-right: 10px;
    }

    div.title1, div.title2, div.title3 {
        padding-left: 10px;
    }

    footer {
        grid-area: 11 / 1 / 12 / -1;
    }
}